<a href="https://colab.research.google.com/github/Chamika36/Superstore-Sales-Analysis/blob/main/Superstore_Sales_Data_Analytics_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Superstore Sales Data Analytics Report
**Domain:** Retail / E-commerce  
**Objective:** Optimizing Regional Profitability and Discount Strategy

Loading the dataset

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Sample - Superstore.csv', encoding='windows-1252')

# Display the first few rows to verify
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

Data Preprocessing

In [3]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Fill missing postal codes and set as integer
df['Postal Code'] = df['Postal Code'].fillna(0).astype(int)

# Convert date columns to datetime objects
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Create Profit Margin feature
df['Profit Margin'] = (df['Profit'] / df['Sales']) * 100

# Encode categorical features for statistical modeling
le = LabelEncoder()
for col in ['Segment', 'Region', 'Category', 'Ship Mode']:
    df[f'{col}_Encoded'] = le.fit_transform(df[col])

# Check cleaned data
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product Name,Sales,Quantity,Discount,Profit,Profit Margin,Segment_Encoded,Region_Encoded,Category_Encoded,Ship Mode_Encoded
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,16.00,0,2,0,2
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,30.00,0,2,0,2
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,47.00,1,3,1,2
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,-40.00,0,2,0,3
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,11.25,0,2,1,3

Warning: Total number of columns (26) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
EDA

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns

print("--- Dataset Information ---")
df.info()

print("\n--- First 5 Rows ---")
print(df.head())

print("\n--- Summary Statistics ---")
print(df[['Sales', 'Quantity', 'Discount', 'Profit']].describe())

# Mean, Median, and Mode for Profit
print(f"\nMean Profit: {df['Profit'].mean()}")
print(f"Median Profit: {df['Profit'].median()}")
print(f"Mode Profit: {df['Profit'].mode().iloc[0]}")

#Range, Variance, and Std Dev for Sales
range_sales = df['Sales'].max() - df['Sales'].min()
print(f"\nRange of Sales: {range_sales}")
print(f"Variance of Sales: {df['Sales'].var()}")
print(f"Standard Deviation of Sales: {df['Sales'].std()}")

# Correlation matrix
print("\n--- Correlation Matrix ---")
correlation_matrix = df[['Sales', 'Quantity', 'Discount', 'Profit']].corr()
print(correlation_matrix)

--- Dataset Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row ID             9994 non-null   int64
 1   Order ID           9994 non-null   object
 2   Order Date         9994 non-null   datetime64[ns]
 3   Ship Date          9994 non-null   datetime64[ns]
 4   Ship Mode          9994 non-null   object
 5   Customer ID        9994 non-null   object
 6   Customer Name      9994 non-null   object
 7   Segment            9994 non-null   object
 8   Country            9994 non-null   object
 9   City               9994 non-null   object
 10  State              9994 non-null   object
 11  Postal Code        9994 non-null   int64
 12  Region             9994 non-null   object
 13  Product ID         9994 non-null   object
 14  Category           9994 non-null   object
 15  Sub-Category       9994 non-null   object
 16  Product Name       9994 non-null   object
 17  Sales              9994 non-null   float64
 18  Quantity           9994 non-null   int64
 19  Discount           9994 non-null   float64
 20  Profit             9994 non-null   float64
 21  Profit Margin      9994 non-null   float64
 22  Segment_Encoded    9994 non-null   int64
 23  Region_Encoded     9994 non-null   int64
 24  Category_Encoded   9994 non-null   int64
 25  Ship Mode_Encoded  9994 non-null   int64
dtypes: datetime64[ns](2), float64(4), int64(7), object(13)
memory usage: 2.0+ MB

--- First 5 Rows ---
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600        2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                     Eldon Fold 'N Roll Cart System   22.3680        2

  Discount    Profit Profit Margin Segment_Encoded  Region_Encoded  \
0     0.00   41.9136         16.00               0               2
1     0.00  219.5820         30.00               0               2
2     0.00    6.8714         47.00               1               3
3     0.45 -383.0310        -40.00               0               2
4     0.20    2.5164         11.25               0               2

   Category_Encoded  Ship Mode_Encoded
0                 0                  2
1                 0                  2
2                 1                  2
3                 0                  3
4                 1                  3

[5 rows x 26 columns]

--- Summary Statistics ---
              Sales     Quantity     Discount       Profit
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574     0.156203    28.656896
std      623.245101     2.225110     0.206452   234.260108
min        0.444000     1.000000     0.000000 -6599.978000
25%       17.280000     2.000000     0.000000     1.728750
50%       54.490000     3.000000     0.200000     8.666500
75%      209.940000     5.000000     0.200000    29.364000
max    22638.480000    14.000000     0.800000  8399.976000

Mean Profit: 28.65689630778467
Median Profit: 8.6665
Mode Profit: 0.0

Range of Sales: 22638.036
Variance of Sales: 388434.45530807687
Standard Deviation of Sales: 623.2451005086818

--- Correlation Matrix ---
             Sales  Quantity  Discount    Profit
Sales     1.000000  0.200795 -0.028190  0.479064
Quantity  0.200795  1.000000  0.008623  0.066253
Discount -0.028190  0.008623  1.000000 -0.219487
Profit    0.479064  0.066253 -0.219487  1.000000